body{
    background: linear-gradient(135deg,#f0e5f0,#e2f2f7);
}


.navbar{
    padding: 20px;
}

.btn{
    background-color: #fe815f;
    text-decoration: none;
    color: white;
    border-radius: 100px;
    max-width: 200px;
    height: 40px;
    text-align: center;
    font-family: Lato;
    font-weight: 600;
}

.sidebar{
    padding: 30px;
    position: fixed;
    background-color: white;
}

.copyright{
    text-decoration: none;
    font-family: Lato;
    font-weight: 500;
    color: #19233c;
}

.fa {
    height: 35px;
    width: 35px;
    background-color: #ffe3dc2b;
    color: #fe815f;
    padding: 10px;
    border-radius: 1000px;
    text-align: center;
}